*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(150, 150, 150);
}

.contenedor{
    position: relative;
    top: 5rem;
    width: 40rem;
    height: 20rem;
    margin: 0 auto;
    border: .2rem solid rgb(0, 0, 0);
}

.contenedor__box{
    position: absolute;
    top: 38%;
    width: 4rem;
    height: 4rem;
}

.contenedor__box--1{
    left: 0;
    background-color: steelblue;
}

.contenedor__box--2{
    right: 0;
    background-color: seagreen;
}

@media (min-width:700px) {
    .contenedor__box--1{
        left: 10%;
        background-color: steelblue;
    }

}

@media (min-height:300px) { 
    .contenedor__box--2{
        right: 10%;
        background-color: seagreen;
    }
}

@media (min-width:800px) {
    .contenedor__box--1{
        left: 20%;
        background-color: steelblue;
    }

}

@media (min-height:400px) { 
    .contenedor__box--2{
        right: 20%;
        background-color: seagreen;
    }
}

@media (min-width:900px) {
    .contenedor__box--1{
        left: 30%;
        background-color: steelblue;
    }

}

@media (min-height:500px) { 
    .contenedor__box--2{
        right: 30%;
        background-color: seagreen;
    }
}

@media (min-width:1000px) {
    .contenedor__box--1{
        left: 40%;
        background-color: steelblue;
    }

}

@media (min-height:600px) { 
    .contenedor__box--2{
        right: 40%;
        background-color: seagreen;
    }
}

@media (min-width:1100px) {
    .contenedor__box--1{
        left: 50%;
        background-color: steelblue;
    }

}

@media (min-height:700px) { 
    .contenedor__box--2{
        right: 50%;
        background-color: seagreen;
    }
}

