:root{
   --font-principal: 'Jockey One', sans-serif;
   --font-secundario: 'Poppins', sans-serif;
   --color-principal: rgb(58, 56, 69);
   --color-secundario: rgb(198, 155, 123);
   --color-terciario: rgb(247, 204, 172);
   --color-cuarto: rgb(130, 111, 102);
   --color-quinto: rgb(238, 234, 232);
}

*{
   box-sizing: border-box;
}

body{
   margin: 0;
   padding: 0;
   font-family: var(--font-secundario);
   background-color: var(--color-principal);
   color: var(--color-quinto);
}

.header{
   height: 4.5rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: .1rem solid var(--color-secundario);
}

.logo{
   padding: 0rem 3rem;
   font-family: var(--font-principal);
}

.log{
   color: var(--color-cuarto);
   font-size: 2.5em;
}

.log--sp{
   color: var(--color-secundario);
}

.nav{
   padding: 0rem 2.25rem;
}

.nav__li{
   padding: .75rem;
   display: inline-block;
   list-style: none;
}

.nav__link{
   text-decoration: none;
   font-size: 1.2em;
   color: var(--color-terciario);
}

.nav__link:hover{
   color: var(--color-secundario);
   transition: .5s;
   -webkit-transition: .5s;
   -moz-transition: .5s;
   -ms-transition: .5s;
   -o-transition: .5s;
}


/* main ---------------------------------------------- */

.main{
   width: 100%;
   height: 145vh;
   display: flex;
   align-items: center;
}

.menu__header{
   display: flex;
   height: 100%;
   width: 50%;
   align-items: center;
   justify-content: center;
}

.menu__title{
   font-size: 3.5em;
   font-family: var(--font-principal);
   color: var(--color-terciario);
}

.menu__text{
   display: block;
   position: absolute;
   top: 87%;
}

.menu__item{
   margin: 0 2rem;   
}

.menu__body{
   width: 50%;
}

.menu__content{
   margin: 0;
   padding: 2.5rem;
   display: block;
}

.content__title{
   font-family: var(--font-principal);
   margin: 0;
   text-align: center;
   font-size: 2.5em;
   color: var(--color-terciario);
}

.menu__article{
   display: flex;
   justify-content: space-between;
   padding: 0 2rem;
   border-bottom: .3rem dotted var(--color-secundario);
}

/* footer */

.footer{
   position: relative;
   display: flex;
   justify-content: space-around;
   border-top: .1rem solid var(--color-secundario);
   color: var(--color-terciario);
}

/* responsive */

@media only screen and (max-width: 900px) {
   .main{
      display: block;
      height: 250vh;
   }

   .menu__header{
      width: 100%;
      height: 90vh;
   }
   .menu__body{
      width: 100%;
   }

   .menu__text{
      top: 60%;
   }

   .menu__content{
      margin: 0 0 1rem;
   }

   .footer{
      position: relative;
   }
}