/* 

    El stacking context o el contexto de apilamiento es el espacio donde nuestros elementos se van a ir apilando para que unos queden por detras y otros por delante.

    El orden de stacking xontext es: (de delante a atras

        Elementos posicionados con un z-index de 1 o mas
        Elementos posicionados sin z-indez declarado (o z-index:auto)
        Elementos no posicionados 
        Elementos con z-index negativo

*/

*{
    margin: 0;
}

.box{
    width: 100px;
    height: 100px;
    text-align: center;
    color: #333;
}

.box1{
    background-color: lightcoral;
    position: relative;
    z-index: 10;
}

.box2{
    background-color: lightgreen;
    margin-top: -50px;
}

.box3{
    background-color: lightseagreen;
}

.container{
    background-color: mediumslateblue;
    margin-top: -50px;
    position: relative;
}

.title{
    background-color: gray;
    position: relative;
    z-index: 20;
    opacity: 0.75;
}

.text{
    margin-top: -40px;
}