*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.grid{
    display: grid;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 10% 30% repeat(3, 20%);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(233, 233, 233);
    background-color: rgb(6, 17, 29);
    grid-row: 1;
    grid-column: 1/2;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(233, 233, 233);
    background-color: rgb(192, 27, 68);
    grid-row: 1;
    grid-column: 2/5;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgb(27, 118, 192);
    grid-row: 2;
    grid-column: 1/5;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(233, 233, 233);
    background-color: rgb(8, 37, 59);
    grid-row: 3/5;
    grid-column: 1/3;
}
.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgb(133, 171, 199);
    grid-row: 3;
    grid-column: 4;
}
.extra{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(233, 233, 233);
    background-color: rgb(68, 153, 72);
    grid-row: 4;
    grid-column: 4;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgb(206, 203, 44);
    grid-row: 5/6;
    grid-column: 1/5;
}

@media (max-width: 1023px) {

    .grid{
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 10% 25% 25% 20% 20%;
    }

    .header{
        grid-row: 1;
        grid-column: 1/5;
    }
    .menu{
        grid-row: 3/6;
        grid-column: 1;
    }
    .hero{
        grid-row: 2;
        grid-column: 1/5;
    }
    .main{
        grid-row: 3;
        grid-column: 2/5;
    }
    .imagen{
        grid-row: 5;
        grid-column: 3;
    }
    .extra{
        grid-row: 5;
        grid-column: 2;
    }
    .banner{
        grid-row: 4;
        grid-column: 2/4;
    }
}

@media (max-width: 719px) {
    .grid{
        grid-template-columns: 100%;
        grid-template-rows: 9% 9% 17% 17% 16% 16% 16%;
    }

    .header{
        grid-row: 1;
        grid-column: 1;
    }
    .menu{
        grid-row: 2;
        grid-column: 1;
    }
    .hero{
        grid-row: 3;
        grid-column: 1;
    }
    .main{
        grid-row: 4;
        grid-column: 1;
    }
    .imagen{
        grid-row: 7;
        grid-column: 1;
    }
    .extra{
        grid-row: 6;
        grid-column: 1;
    }
    .banner{
        grid-row: 5;
        grid-column: 1;
    }
}